.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dado {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Myriad Pro', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #eeaa33;
}

p {
  font-size: 2rem;
  color: #eeaa33;
  font-family: 'Myriad Pro', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Myriad Pro', cursive;

}
